@import '../../styles/variables';

.btn {
    width: 95px;
    min-height: 25px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 30px;
    padding: 5px;
    font-family: Ubuntu;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    color: $buttonText;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s;

    &.yellow {
        background-color: $buttonYellow;
    }

    &.pink{
        background-color: $buttonPink;
    }

    &.green{
        background-color: $buttonGreen;
    }

    &.orange{
        background-color: $buttonOrange;
    }

    &.salmon{
        background-color: $buttonSalmon;
    }

    &.citrus{
        background-color: $buttonCitrus;
    }

    &.cofee{
        background-color: $buttonCofee;
    }

    &.pumpkin{
        background-color: $buttonPumpkin;
    }

    &.khaki{
        background-color: $buttonKhaki;
    }

    &.red{
        background-color: $buttonRed;
    }

    &.sakura{
        background-color: $buttonSakura;
    }

    &.towerGrey{
        background-color: $buttonTowergrey;
    }

    &.chocolate{
        background-color: $buttonChocolate;
    }

    &:hover {
        opacity: 0.7;
    }
}

.btn--hero {
    margin-top: 550px;
}

.btn--portraits {
    color: $textWhite;
    margin-top: 400px;
}

@media only screen and (max-width: 1300px) {

    .btn--portraits {
        margin-top: 200px;
    }
    
}

@media only screen and (max-width: 900px) {

    .btn--hero {
        margin-top: 100px;
    }

    .btn--portraits {
        margin-top: 100px;
    }
    
}

@media only screen and (max-width: 650px) {

    .btn--hero {
        margin-top: 50px;
    }

    .btn--portraits {
        margin-top: 70px;
    }
    
}