@import '../../styles/variables';

.cardArticles {
    padding:0;
    margin:0;
    margin-bottom: 20px;
    color: $textGrey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.cardArticles__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.cardArticles__time {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

