.complex {
    display: flex;
}

.complex__news-wrapper {
    flex: 25%;
}

.complex__landscape-articles-cards-wrapper {
    flex: 75%;
    display: flex;
    flex-direction: column;
}

.complex__landscape-articles-wrapper{
    display: flex;
    flex-direction: row;
}

.complex__landscape-wrapper {
    flex-basis: 66.66%;
}

.complex__articles-wrapper {
    flex-basis:33.34%;
    max-height: 539px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 60px;
    margin: 0;
}

.complex__cards-wrapper {
    display: flex;
    flex-direction: row;
}

.complex__card-wrapper {
    flex-basis: 33.5%;
}

@media only screen and (max-width: 1300px) {

    .complex__articles-wrapper {
        padding: 20px;
    }
    
}

@media only screen and (max-width: 900px) {

    .complex {
        flex-direction: column;
    }

    .complex__news-wrapper {
        flex: 100%;
    }
    
}

@media only screen and (max-width: 650px) {

    .complex__landscape-articles-wrapper{
        flex-direction: column;
    }
    
    .complex__landscape-wrapper,
    .complex__articles-wrapper{
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .complex__cards-wrapper {
        flex-direction: column;
    }
    
    .complex__card-wrapper {
        flex-basis: 100%;
    }
}