/* text colors */
$logo: #d3866c;
$textGrey: #696969;
$textGreyLight: #999999;
$textBlack: #202020;
$textWhite: #ffffff;

/* button colors */
$buttonText: #333041;
$buttonYellow: #facf8c;
$buttonPink: #fdc0e3;
$buttonGreen: #93d08b;
$buttonOrange: #fea35d;
$buttonSalmon: #fd6d4c;
$buttonCitrus: #eed608;
$buttonCofee: #d8a17b;
$buttonPumpkin: #eeb008;
$buttonKhaki: #aca880;
$buttonRed: #d65c4f;
$buttonSakura: #eeb7a4;
$buttonTowergrey: #a5b3af;
$buttonChocolate: #bc8b54;

/* background colors */
$mainBackground: #f4ede7;
$lemongrass: #d9e4a6;
$aqua: #caffe2;
$champagne: #ecdfd5;
$macaroon: #fdcdc0;

/* photo icon colors */ 
$photoIconGrey: #c0b5ad;
$photoIconBrown: #cda69c;
$photoIconGreen: #b0b987;