/* main colors */
$background: #f4ede7;
$logo: #d3866c;
$textGrey: #696969;
$textBlack: #202020;
$textWhite: #ffffff;

/* button colors */
$buttonText: #333041;
$buttonYellow: #facf8c;
$buttonPink: #fdc0e3;
$buttonGreen: #93d08b;
$buttonOrange: #fea35d;
$buttonSalmon: #fd6d4c;
$buttonCitrus: #eed608;
$buttonCofee: #d8a17b;
