@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Jellee';
  src: local('Jellee'), url(../assets/fonts/Jellee-Roman.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: $textBlack;
}