@import '../../styles/variables';

.card {
    height: 100%;
    margin: 0;
    padding: 45px 60px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__info__title {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.card__info__time {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}


.heroCard {
    min-height: 910px;

    & .card__info-wrapper {
        min-height: 250px;
    }
}

.landscapeCard {
    min-height: 539px;

    & .card__info-wrapper {
       width: 300px;
    }
}

.smallPostCard {
    min-height: 391px;

    & .card__info-wrapper {
        min-height: 200px;
     }
}

.portraitCardSmall {
    min-height: 755px;
    width: 100%;
    height: auto;
    padding: 45px 80px 45px 60px;

    & .card__info-wrapper {
        min-height: 200px;
    }

}

.portraitCardBig {
    min-height: 790px;
    width: 100%;
    height: auto;

    & .card__info-wrapper {
        min-height: 200px;
    }

}

.bigPostCard {
    min-height: 695px;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    & .card__info-wrapper {
        min-height: 200px;
    }

}

.white {
    color: $textWhite;
}

.black {
    color: $textBlack;
}

.grey {
    color: $textGrey;
}


/* background images */
.watermelon {
    background-image: url('../../assets/images/watermelon.jpg');
}

.cactus {
    background-image: url('../../assets/images/cactus.jpg');
}

.building {
    background-image: url('../../assets/images/building.jpg');
}

.cup {
    background-image: url('../../assets/images/cup.jpg');
}

.wheel {
    background-image: url('../../assets/images/wheel.jpg');
}

.shoes {
    background-image: url('../../assets/images/shoes.jpg');
}

.woman {
    background-image: url('../../assets/images/woman.jpg');
}

.pinapple {
    background-image: url('../../assets/images/pinapple.jpg');
}

.man {
    background-image: url('../../assets/images/man.jpg');
}

/* background colors */ 
.lemongrass {
    background-color: $lemongrass;
}

.aqua {
    background-color: $aqua;
}

.champagne {
    background-color: $champagne;
}

.macaroon {
    background-color: $macaroon;
}


@media only screen and (max-width: 1300px) {

    .heroCard,
    .portraitCardBig,
    .portraitCardSmall,
    .landscapeCard,
    .smallPostCard {
        padding: 20px;
    }

    .portraitCardBig,
    .portraitCardSmall {
        min-height: 650px;
    }
    
}

@media only screen and (max-width: 900px) {

    .heroCard {
        padding: 30px;
        min-height: 400px;

        & .card__info-wrapper{
            min-height: 150px;
        }
    } 

    .portraitCardBig,
    .portraitCardSmall {
        min-height: 400px;
        padding: 30px;
    }
    
}

@media only screen and (max-width: 650px) {

    .heroCard {
        padding: 30px;
        min-height: 200px;

        .card__info-wrapper{
            min-height: 150px;
        }
    }

    .portraitCardBig,
    .portraitCardSmall,
    .smallPostCard {
        min-height: 350px;
        padding: 30px;
    }

    
}
