@import '../../styles/variables';

.header {
    display: flex;
    align-items: center;
    padding: 20px 60px;
}

.header__logo {
    flex-basis: 25%;
}

.header__nav {
    flex-basis: 60%;
}

.header__search {
    flex-basis: 15%;
}

.header__hamburger {
    display: none;
    flex-basis: 0%;
}

@media only screen and (max-width: 900px) {

    .header {
        flex-wrap: wrap;
        justify-content: space-between;

        & > * {
            margin-bottom: 20px;
        }
    }

    .header__logo {
        flex-basis: 50%;
    }

    .header__search {
        flex-basis: 50%;
    }

    .header__nav {
        flex-basis: 100%;
        order: 1;
    }
    
}

@media only screen and (max-width: 500px) {

    .header {
        padding: 20px 40px;
    }

    .header__logo {
        flex-basis: 50%;
    }

    .header__search {
        flex-basis: 25%;
    }

    .header__hamburger {
        display: flex;
        flex-basis: 25%;
    }

    .header__nav {
        flex-basis: 100%;
        order: 1;
    }
    
}