@import '../../../styles/variables';

.bigPost {
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    transition: background-image 1s ease-in-out;
}

.bigPost--1 {
    background-image: url('../../../assets/images/bigPost_01.jpg');
}

.bigPost--2 {
    background-image: url('../../../assets/images/bigPost_02.jpg');
}

.bigPost__card-wrapper {
    height: 100%;
    min-height: 695px;
    flex-basis: 25%;
}

@media only screen and (max-width: 900px) {

    .bigPost__card-wrapper {
        min-height: 400px;
        flex-basis: 50%;
    }
    
}

@media only screen and (max-width: 650px) {

    .bigPost__card-wrapper {
        min-height: 180px;
        flex-basis: 100%;
    }
    
}

